@import url("../fonts.css");

.pokemon-page {
  font-family: "PokeFontSolid", "Open Sans", sans-serif;
  background: linear-gradient(140deg, var(--pokemon-type-color) 0%, #ddd 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 300px;
  max-width: 350px;
  margin: 1rem auto;
}

.pokemon-image {
  min-height: 150px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pokemon-info-card-wrapper {
  display: flex;
  align-items: center;
}

.pokemon-info-card-wrapper a {
  color: yellow;
  text-decoration: none;
}

.pokemon-info-card-previous-button,
.pokemon-info-card-next-button {
  width: 30px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  padding: 0;
}
